body {
  font-family: 'Inter', 'Arial', sans-serif;
  background: #fafbfc;
}
a {
  color: #2196f3;
}
nav {
  font-size: 1.1em;
}
.sidebar {
  display: none !important;
}

.wrapper > header {
  display: none !important;
}

.wrapper {
  margin-left: 0 !important;
  width: 100% !important;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}
